        .button1 {
            padding: 10px 20px;
            background-color: #ebeef1;
            color: rgb(54, 4, 232);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .button1-margin {
            margin-left: 20px;
            width: 100px; /* Ajuste la largeur selon tes besoins */
           white-space: normal; /* Permet au texte de passer à la ligne */ 
           text-decoration: none; /* Enlève le soulignement */
           text-align: center;
}



